
{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>imagen</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet laborum excepturi animi ea consectetur assumenda, architecto sed repudiandae sunt minus aperiam possimus saepe natus iure dolores, consequatur repellat ducimus illum.</p>

    </div>

    <div class="col-4">
        <img src="assets/img/imagen.png" class="img-thumbnail">

    </div>

</div>

  

{{> footer }} 